@import "../css/font.css";
@import "../css/nav.css";
@import"../css/social.css";


h1{
    font-size: 25px;
}

h2{
    font-size:15px;
    color: blue;
    font-style: italic;
}


nav .menu a{
 font-size:15px;
 margin-left: 24px;
 

}

.part1{
    display:grid;
}

.statue{
    background-image: url("../images/towers.jpg");
    background-position:inherit;
    background-size:contain;
    border-radius: 5px;
    height: 80vh;
    background-repeat: no-repeat;
}



.social{
    font-size: 40px;
}

  .fa-twitter {
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .fa-linkedin {
    margin-top: 10px;
  }

  @media only screen and (max-width: 600px) {
        nav .menu a{
            margin-left: 0px;
            margin-right: 5px;
            font-weight: bold;
            color: red;
            font-size: 10px;
    }

        h1{
            font-size:17px;
        }

        .statue{
            background-image: url("../images/towers.jpg");
            background-position:inherit;
            background-size:cover;
            border-radius: 5px;
            height: 80vh;
            background-repeat: no-repeat;
        }
}
