@import "../homePage/font.css";
@import "../homePage/social.css";
@import"../homePage/nav.css";



h1{
    font-size: 25px;
}

h2{
    font-size:15px;
    font-style: normal;
}


nav .menu a{
    font-size:20px;
    margin-left: 24px;
 
}

.part1{
    display:grid;
}

.statue{
    background-image: url("../images/temple.jpg");
    background-position:inherit;
    background-size:contain;
    border-radius: 30px;
    height: 80vh;
    background-repeat: repeat;
}


.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: lightgray;
    border-radius: 30px;
}

.card{
    background-image: url("../images/avatar.jpg");
    height: 150px;
    width: 160px;
    background-position:inherit;
    background-size: cover;
    border-radius: 50%;
    border-style: solid;
    margin-left: 10px;
}

.authorinfo{
    color: black;
    font-style: normal;
}
.social{
    font-size: 20px;
}

.fa-twitter {
    margin-right: 10px;
}
  
.fa-linkedin {
    color: black;
    border-width:thin;
    border-style:double;
}

.fa-facebook {
    margin-left: 10px;
}

ul{
    margin:20px;
    padding: 0px;
}


  @media only screen and (max-width: 600px) {
        nav .menu a{
            margin-left: 0px;
            margin-right: 5px;
            font-weight: bold;
            color: red;
            font-size: 15px;
    }

        h1{
            font-size:17px;
        }

        .statue{
            background-image: url("../images/temple.jpg");
            background-position:inherit;
            background-size:cover;
            border-radius: 5px;
            height: 80vh;
            background-repeat: no-repeat;
        }

        h2{
            margin-top: 0px;
        }

        .card{
            background-image: url("../images/avatar.jpg");
            height: 150px;
            width: 160px;
            background-position:left;
            background-size: cover;
            border-radius: 50%;
            border-style: solid;
            margin-left: 2px;
            margin-top: 20px;
        }

        .authorinfo{
            color: black;
            font-style: normal;
            font-size: 15px;
            margin-left: 5px;
            font-weight: normal;
        }
  }
