@import "https://kanita92.github.io/Travel-Website/font.css";
@import "https://kanita92.github.io/Travel-Website/social.css";
@import"https://kanita92.github.io/Travel-Website/nav.css";


h1,h2,h3{
    color: black;
    margin: 16px 0;
}

h1{
    font-size: 15px;
    
}


nav .menu a{
 font-size:15px;
 margin-left: 10px;
    
}

.card{
    background-image: url("https://kanita92.github.io/Travel-Website/avatar.jpg");
    height: 350px;
    width: 350px;
    background-position: center;
    background-size:auto;
}
